* {
    font-family: Comic Sans MS;
}

body {
    border-width: 34px;
    border-color: #C08EF9;
    border-style: outset;
    margin: auto;
}

h1 {
    text-align: center;
}

nav {
    text-align: center;
    padding-bottom: 25px;
}

a {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    color: #C08EF9;
}

div {
    padding-bottom: 25px;
}

h2 {
    margin: 0%;
    padding-bottom: 25px;
}

main {
    text-align: center;
}

input {
    border-color: #C08EF9;
    border-radius: 5px;
}

select {
    border-color: #C08EF9;
    border-width: 2px;
    border-radius: 5px;
    border-style: inset;
}

button {
    background-color:#D7B9F9;
    border-radius: 5px;
    margin-bottom: 25px;
}

button:hover {
    background-color: #C08EF9;
}