<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Unit Converter</h1>
    <form action="/submit" method="post">
        <div>
            <label for="length">Enter the length to convert</label>
            <input type="number" step="any" name="length" id="length">
        </div>
        <div>
            <label for="length_from">Unit to convert from</label>
            <select id="length_from" name="length_from">
                <option value="mm">millimeter</option>
                <option value="cm">centimeter</option>
                <option value="m">meter</option>
                <option value="km">kilometer</option>
                <option value="in">inch</option>
                <option value="ft">foot</option>
                <option value="yd">yard</option>
                <option value="mi">mile</option>
            </select>
        </div>
        <div>
            <label for="length_to">Unit to convert to</label>
            <select id="length_to" name="length_to">
                <option value="mm">millimeter</option>
                <option value="cm">centimeter</option>
                <option value="m">meter</option>
                <option value="km">kilometer</option>
                <option value="in">inch</option>
                <option value="ft">foot</option>
                <option value="yd">yard</option>
                <option value="mi">mile</option>
            </select>
        </div>
        <input type="submit" value="Convert">
    </form>
</body>
</html>