{% extends "index.html" %}
{% block content %}
<div>
    <label for="length_from">From Length</label>
    <select id="length_from" name="length_from">
        <option value="mm">millimeter</option>
        <option value="cm">centimeter</option>
        <option value="m">meter</option>
        <option value="km">kilometer</option>
        <option value="in">inch</option>
        <option value="ft">foot</option>
        <option value="yd">yard</option>
        <option value="mi">mile</option>
    </select>
</div>
<div>
    <label for="length_to">To Length</label>
    <select id="length_to" name="length_to">
        <option value="mm">millimeter</option>
        <option value="cm">centimeter</option>
        <option value="m">meter</option>
        <option value="km">kilometer</option>
        <option value="in">inch</option>
        <option value="ft">foot</option>
        <option value="yd">yard</option>
        <option value="mi">mile</option>
    </select>
</div>
{% endblock content %}