<div>
    <label for="temperature_from">From Temperature</label>
    <select id="temperature_from" name="temperature_from">
      <option value="C">Celsius</option>
      <option value="F">Fahrenheit</option>
      <option value="K">Kelvin</option>
    </select>
</div>
<div>
    <label for="temperature_to">To Temperature</label>
    <select id="temperature_to" name="temperature_to">
      <option value="C">Celsius</option>
      <option value="F">Fahrenheit</option>
      <option value="K">Kelvin</option>
    </select>
</div>